.logo {
	font-size: 3em;
	color: #dc3545;
	margin-right: 0;
}

.navbar-nav {
	font-size: 1.6em;
}

.nav-link:hover {
	background-color: #e1e1e1;
	color: black !important;
}

.footer-links li a svg:hover {
	transform: scale(1.2);
}

.bi-telegram {
	color: #0088cc;
}

.bi-instagram {
	border-radius: 7px;
	color: white;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
}

.bi-facebook {
	color: #3b5998;
}

.header-link,
.header-link a {
	height: 100%;
}

.footer-wrap {
	display: flex;
	justify-content: center;
}

.footer {
	position: absolute;
	bottom: 0;
}

.header-link .active {
	background-color: #e1e1e1;
	box-shadow: 0px -9px 0px -5px #ff3232bd inset;
	color: black !important;
}

.rounded-circle {
	object-fit: cover;
}
