.btn-more-shows {
	width: 98%;
	margin: auto;
}

.card-body {
	overflow: hidden;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-text {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card-text-short {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.spinner-border {
	margin: 5em auto;
}

.bi-star-fill {
	color: sandybrown;
	transform: rotate(60deg) translateY(-3px);
}

.btn-try-again {
	margin: auto;
	display: flex;
}
